body,html
  min-width 1120px
#wrap
  height 100%
  width 100%
  background #fff

  #head
    width 100%
    height 72px
    background #fff
    position relative
    border-bottom 2px solid #E5E5E5
    &.slodDown
      top 0
      transform translateY(0)
      animation animt 1s
      @keyframes animt {
        0%{
          transform translateY(-100%)
        }
        100%{
            transform translateY(0)
        }



      }


    .headContainer
      height 100%
      width 85%
      padding 0 15px
      margin 0 74.5px
      background #fff
      display flex
      justify-content space-between
      align-items center
      .navbar-right
        height 100%
        width 70%
        width 1170px
        display flex
        justify-content space-between
        align-items center
        a
          color #000
          font-weight bold
        .navbar-right-left
          margin-left 50px
          .qh:hover
            color #EA4942
          i
            color #EA4942

        .navbar-right-right
          height 100%
          width 70%
          display flex
          justify-content space-around
          align-items center
          .on
            color #E94840
          a:hover
            color #E94840
          .dl
            background #E94840
            border-radius 10%
            color #FBFFFF
            padding 5px
            &:hover
              color #FBFFFF




  .article
    width 100%
    height 100%
    background pink
    .articleLayOut
      width 85%
      height 100%
      margin 0 auto
      >h2
        font-size 18px
        line-height 85px
        margin 0 auto
        font-weight bold
        i
          cursor pointer
          margin-right 5px
          font-style normal
          font-weight bold
        .inav
          color #fb4e55

    .articleLayOut1
      width 100%
      height 100%
      .articleLeft
        width 80%
        height 100%
        .artLTop
          height 220px
          width 100%
          border 1px solid #e5e5e5
          background #fff
          >img
            margin 30px
            width 158px
            border 1px solid #e5e5e5

      .articleRight
        width 20%
        height 100%


  #foot
    width 100%
    background #fff
    padding-top 60px
    .footContainer
      width 85%
      height 100%
      margin 0 auto
      h2
        margin 20px auto 10px
        font-size 30px
        font-weight bold
        font-family "微软雅黑"
        text-align center

        span
          font-size 30px
          color #fb474f
          font-family "微软雅黑"
          font-weight bold
      p
        font-size 22px
        color #3d3838
        text-align center
      .footDiv1
        text-align center
        padding-top 20px
        height 66px
        font-size 18px
        span
          color #1d1515
          vertical-align top
          margin-right 10px
          img
            margin-right 10px
      .footDiv2
        width 100%
        height 120px
        display flex
        justify-content center
        align-items flex-start

        .footDivrm
          display flex
          font-size 18px
          font-weight 700
          width 10%
          text-align center
          margin-top 10px

        .footDiv2In
          height 93px
          width 90%
          display flex
          align-items center
          justify-content center
          flex-direction column
          .footDiv2In1
            width 100%
            flex 1
            display flex
            justify-content space-around
            align-items center
            span
              width 8%
              display flex
              align-items center
              justify-content center
          .footDiv2In2
            width 100%
            flex 1
            display flex
            justify-content space-around
            align-items center
            span
              width 8%
              display flex
              align-items center
              justify-content center

          .footDiv2In3
            width 100%
            flex 1
            display flex
            justify-content space-around
            align-items center
            span
              width 8%
              display flex
              align-items center
              justify-content center
      .footBottomp
        width 100%
        color #898989
        height 40px
        line-height 40px
        text-align left
        font-size 14px
