body,html
  min-width 1120px
#wrap
  height 100%
  width 100%
  background #fff

  #head
    width 100%
    height 70px
    background #fff
    position relative
    &.slodDown
      top 0
      transform translateY(0)
      animation animt 0.5s
      @keyframes animt {
        0%{
          transform translateY(-100%)
        }
        100%{
          transform translateY(0)
        }


      }
    .headContainer
      height 100%
      width 85%
      padding 0 15px
      margin 0 74.5px
      background #fff
      display flex
      justify-content space-between
      align-items center
      .navbar-right
        height 100%
        width 70%
        width 1170px
        display flex
        justify-content space-between
        align-items center
        a
          color #000
          font-weight bold
        .navbar-right-left
          margin-left 50px
          .qh:hover
            color #EA4942
          i
            color #EA4942

        .navbar-right-right
          height 100%
          width 70%
          display flex
          justify-content space-around
          align-items center
          .on
            color #E94840
          a:hover
            color #E94840
          .dl
            background #E94840
            border-radius 10%
            color #FBFFFF
            padding 5px
            &:hover
              color #FBFFFF
  #banner
    width 100%
    height 420px
    background #EEEBE6
    position relative
    .fullBanner
      width 100%
      height 420px
      position absolute
      left 0px
      top 0px
      right 0px
      margin 0px auto
      .bj
        width 100%
        height 100%
        ul
          width 300%
          height 100%
          li
            height 100%
            width 33.33%
            float left
          .bjli1
            background url("../imgs/banner1.jpg") center center no-repeat
          .bjli2
            background url("../imgs/banner2.jpg") center center no-repeat
          .bjli3
            background url("../imgs/banner3.jpg") center center no-repeat

    .bannerContianer
      height 100%
      width 85%
      margin 0 auto
      position relative

      .bannerNav
        width 180px
        height 100%
        position absolute
        z-index 2
        left 0
        top 0px
        margin-right 10%
        background #757881
        ul
          width 100%
          height 100%
          display flex
          justify-content space-around
          align-items center
          flex-direction column
          position relative
          li

            &:hover
              img
                visibility hidden
              ul
                display block
              .sanjiao
                display block
            width 100%
            height 10%
            display flex
            justify-content space-around
            align-items center




            >a
              width 100%
              height 100%
              padding 0 40px
              display flex
              justify-content space-around
              align-items center
              &:hover
                background #60646D
              .sanjiao
                width 0px
                height 0px
                border 10px solid transparent
                display none
                border-right-color #fff
                position absolute
                right  0px


              span
                color #fff
                font-weight bold



            ul
              position absolute
              left 180px
              top 0px
              width 160px
              height 10%
              display none
              background #fff

              li
                width 100%
                height 100%
                background #fff
                a
                  &:hover
                    color #EA4942
                    background #fff
                  color #000
                  font-weight bold



  .box1
    width 100%
    height 496px
    padding-bottom 20px
    background #FBF8F8
    .box1Container
      width 85%
      height 50px
      margin 0 auto
      padding 50px 0 0
      margin-top 10px
      .box1Head
        width 100%
        margin 0 auto
        text-align center
        display flex
        justify-content center
        align-items center
        flex-direction column
        h2
          color #3d3838;
          font-weight 800
          font-size 28px
          font-family "Microsoft YaHei"

        .box1HeadIner
          width 100%
          display flex
          justify-content center
          align-items center
          position relative
          .box1HeadIn
            width 90%
            font-size 22px
            color #3d3838
            margin-top 15px
            font-family "幼圆"
            a
              color #3d3838
              &:hover
                color #EA4942
          .box1HeadSpan
            position absolute
            right 0px
            font-size 18px
            a
              &:hover
                color #EA4942






      .box1Body
        width 100%
        height 345px
        margin 30px auto 0
        text-align center

        display flex
        justify-content center
        align-items center

        a
          flex 1
          height 100%
          display block
          background #fff
          margin-right 8px

          &:hover
            box-shadow 10px 10px 25px #ccc

          .box1BodyDiv1
            width 100%
            height 100%
            img
              width 100%
            h2
              font-size 16px
              padding 5px 0
              font-weight 800
              color #000
              overflow hidden
              width 101%
              white-space nowrap
              text-overflow ellipsis
            p
              color #929292
              padding 10px 0
              overflow hidden
              text-overflow ellipsis
              display -webkit-box
              -webkit-line-clamp 2
              -webkit-box-orient vertical
              word-break break-all
              font-size 13px
              line-height 18px
              height 28px
            div
              font-size 14px
              font-weight 600
              height 20px
              line-height 20px
              color #fb474f
              margin-top 10px
              span
                font-size 20px
              .btn
                float right
                margin-right 10px
                width 76px
                height 24px
                line-height 22px
                text-align center
                background #fb474f
                border-radius 5px
                color #fff
                font-size 14px

  #foot
    width 100%
    height 500px
    background #fff
    padding-top 60px
    .footContainer
      width 85%
      height 100%
      margin 0 auto
      h2
        margin 20px auto 10px
        font-size 30px
        font-weight bold
        font-family "微软雅黑"
        text-align center

        span
          font-size 30px
          color #fb474f
          font-family "微软雅黑"
          font-weight bold
      p
        font-size 22px
        color #3d3838
        text-align center
      .footDiv1
        text-align center
        padding-top 20px
        height 66px
        font-size 18px
        span
          color #1d1515
          vertical-align top
          margin-right 10px
          img
            margin-right 10px
      .footDiv2
        width 100%
        height 120px
        display flex
        justify-content center
        align-items flex-start
        .footDivrm
          display flex
          font-size 18px
          font-weight 700
          width 10%
          text-align center
          margin-top 10px

        .footDiv2In
          height 93px
          width 90%
          display flex
          align-items center
          justify-content center
          flex-direction column
          .footDiv2In1
            width 100%
            flex 1
            display flex
            justify-content space-around
            align-items center
            span
              width 8%
              display flex
              align-items center
              justify-content center
          .footDiv2In2
            width 100%
            flex 1
            display flex
            justify-content space-around
            align-items center
            span
              width 8%
              display flex
              align-items center
              justify-content center

          .footDiv2In3
            width 100%
            flex 1
            display flex
            justify-content space-around
            align-items center
            span
              width 8%
              display flex
              align-items center
              justify-content center
      .footDiv3
        width 100%
        h3
          font-size 18px
          font-weight 700
          margin-bottom 20px
        .footDiv3In
          display flex
          justify-content center
          align-items center
          flex-direction column
          div
            width 100%
            display flex
            justify-content space-between
            align-items center
            margin-bottom 20px
            a
              display block
              width 8%
              text-align center
              vertical-align middle
              img
                width 100%

      .footBottomp
        width 100%
        color #898989
        height 40px
        line-height 40px
        text-align left
        font-size 14px
